/*Login, Register, Plans Buttons*/
._in_btn {
    width: 100%;
    height: 50px;
    font-size: 17px;
    background: #083A67;
    border: none;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
}

/*NavBar Tabs/Buttons*/
.nav_btn {
    background-color: white;
    border: none;
    color: black;
    /* padding: 10px 20px; */
    padding: 3px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    /* border-radius: 50px; */
    border-radius: 20px;
}

/*NavBar*/
.navie {
    background-color:  #083A67;
    border-radius: 50px;
}

/*Global Fonts*/
* {
    font-family: 'Josefin Sans', sans-serif;
}

/*Home.js*/
.home_colored_text {
    color: #083A67;
}